version: '3.9'
services:

  # 1. APPLICATION SERVICE (Runs the final JAR)
  app:
    build:
      context: .
      # Specifies that for this service, the Dockerfile should stop at the 'runtime' stage
      target: runtime
    volumes:
      - ./logs:/app/logs
    environment:
      - LOG_PATH=/app/logs/application.log
    container_name: coding_challenge_app
    ports:
      - "8080:8080"
    # This executes the CMD from the 'runtime' stage (java -jar ...)

  # 2. TEST SERVICE (Runs the unit tests)
  tester:
    build:
      context: .
      # Specifies that for this service, the Dockerfile should stop at the 'tester' stage
      target: tester
    container_name: coding_challenge_tests
    profiles:
      - test
    restart: 'no' # Do not restart tests if they fail